In [1]:
import pandas as pd
import os

df = pd.read_csv('Stock_Images.csv')
df.head()

,img_link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15

In [3]:
del df['img_link']
del df['comments']
del df['likes']

In [4]:
df

                                         tags
0           Clouds, Sky, Atmosphere, Blue Sky
1              Bird, Ornithology, Hummingbird
2         Sea, Rainbow, Rainfall, Subtropical
3        Cherry Blossoms, Road, Japan, Sakura
4              Cape Marguerite, Flower, Plant
...                                       ...
9096   Pear, Fruit, Food, Background, Healthy
9097   Ants, Insects, Plants, Flowers, Animal
9098            Flower, Flora, Garden, Nature
9099  Kara Dag Mountain, Resort Village, Town
9100        Island, Lake, Fog, Forest, Nature

[9101 rows x 1 columns]

In [16]:
t = []

for tags in df['tags']:
    if isinstance(tags, str):
        t += ([tag.strip() for tag in tags.split(',')])

tags = list(set(t))